---
---

@charset "utf-8";

// Some common colours
$black: #000000;
$white: #ffffff;
$bluish: #00e5ee;
$cardiff-red: #ff0000;
$cardiff-complement: #111;

// Text
$fonts: Arial, Helvetica, sans-serif;
$title-font-size: 36px;
$text-color: $black;
$text-shadow-style: none;

// Backgrounds
$bg-d: #ccc;
$middle-bg: #fff;

// Other fancy stuff
$corner-radius: 4px;
$shadow-style: 2px 2px 2px $black;
$menu-border-style: 1px solid $cardiff-red;

// Define the colors for syntax highlighting
$code-background: #eee;
$code-comment: lighten($black, 20%);
$code-string: $cardiff-red;
$code-numeral: lighten($cardiff-red, 10%);
$code-variable: $bluish;
$code-function: darken($bluish, 10%);
$code-type: darken($bluish, 20%);
$code-color: $black;

$code-border-style: solid 1px $black ;

@mixin box-style($bg-color) {
        background-color: $bg-color;
        @include box-shadow($shadow-style);
}

@import "_layout",

        "_styles/codesnippets",

        "_themes/_cardiffrouge/_base",
        "_themes/_cardiffrouge/_landing",
        "_themes/_cardiffrouge/_catmenu",
        "_themes/_cardiffrouge/_posts",
        "_themes/_cardiffrouge/_sessions.scss"


          