h1 {
    font-size: 3em;
    text-align: center;
}

h3 {
    margin: 0px; 
}

.mainbody{
    padding-top: 45px
}

body{
    background-image: url(../res/background.png)
}

.quote {
    color: orangered;
    text-align: center;
}

ul.double{
	overflow:hidden;
}

li.double{ 
	float:left;
    width:50%;
}
