---

---
@charset "utf-8";


// Variables
$font: Helvetica, Arial, sans-serif;
$title-font-size: 42px;
$menu-font-size: 26px;
$base-font-size: 16px;

$text-color: #ffffff;
$link-color: #fbff00;
$meta-color: #818181;
$background-color: #000000;

$background-url: url(../res/backround_images/background.png);
$quote-border-style: 4px solid #e8e8e8;
$menu-border-style: 1px solid $link-color;

// Syntax Highlighting
$code-color: #000000;
$code-string: #dd1144;
$code-numeral: #009999;
$code-variable: #008080;
$code-comment: #999988;
$code-function: #990000;
$code-type: #445588;
$code-background: #ffffff;
$code-border-style: 1px solid #d5d5e9;

$content-width: 800px;

$desktop: $content-width;
$wide-desktop: 1260px;
$mobile: 600px;



@import
        "_layouts/mixins",
        "_layouts/base",
        "_layouts/catmenu",
        "_layouts/post",
        "_layouts/postlists",
        "_layouts/sessions",
        "_layouts/media",

        "_elements/base",
        "_elements/catmenu",
        "_elements/codesnippets",
        "_elements/post",
        "_elements/postlists",
        "_elements/sessions"
            
