body{
  background-image: url(../res/backround_images/background-negative.png);
  color: #4000ff;
}

em{
  color:#4000ff;
  font-size: 2em;
  padding-left: 10px;
}

u{
  color: #ff0800;
  font-size: 2em;
}

i{
  color: #ff0800;
}

small{
  color: #ff0800;
}

b{
  color: #22ff00;
}
