body{
    background-image: url(../images/Background-\ negative.png);
    background-color: #000000;
    color: #FFFFFF;
}

h1, h2, h3{
    color: #f7ff00;
}

i{
    color: #ff0800;
}

b{
    color: #22ff00;
}

 {
    background-color: #000000;
    color: #4000ff;
}

