body{
  background-image: url(../Graphics/images/Background-negative.png);
  background-color: #000000;
  color: #4000ff;
}

h1, h2{
  color: #f7ff00;
}

h3{
  color: #0077ff;
}

i{
  color: #ff0800;
}

b{
  color: #22ff00;
}
