/* Post styles */
/* ----------------------------------------------------------*/

.post-header {

  h1 {
    line-height: 1;
    font-weight: 300;
  }

  .meta {
    font-size: $base-font-size;
    font-style: italic;
    color: $meta-color;
  }
}

.post-content {

  h1 {
    font-size: $title-font-size;
  }

  h2 {
    font-size: $title-font-size * 0.75;
  }

  h3 {
    font-size: $title-font-size * 0.60;
  }

  h4 {
    font-size: $title-font-size * 0.50;
  }

  blockquote {
    border-left: $quote-border-style;
    font-size: $base-font-size;
    font-style: italic;
    opacity: .6;
  }
}

.post {

  pre, code {
    font-size: $base-font-size;
  }
}
