---
layout: page
title: Get Involved
categories: getinvolved
---

<h3>Active Projects</h3>

<p>
  There are many concurrent projects being worked on at code club, below is a
  list of all the active projects currently being developed. If wish want to see
  a list of all projects then you can find them
  <a href="/projects/">here</a> (if you see a project that interests
  you there then by all means bring it back from the dead!)
</p>

<ul class="posts">
 {% for project_hash in site.data.projects %}
  {% assign project = project_hash[1] %}
  {% if project.active %}
    {% include project_link.html %}
  {% endif %}
{% endfor %}
</ul>

<p>
  Or if you have an idea for a project of your own and you'd like others to help/
  work on it with you then send us a pull request and get it put up here!
</p>

<h3>Programming Challenges</h3>

<p>
  Don't feel ready yet to contribute to a full blown project? Don't worry below is a list of programming
  challenges where you can develop your skills further and if you get stuck there will be
  plenty of people at code club willing to help you get unstuck!
</p>

<ul>
    <li><a href="https://projecteuler.net">Project Euler</a> - A site with over 450 problems many with a
        mathematical focus to get your teeth into!</li>
    <li><a href="http://www.reddit.com/r/dailyprogrammer/">Daily Programmer</a> - A subreddit with new problems
        released on a Monday, Wednesday and Friday increasing in difficulty throughout the week. Challenges are based
        on a wide variety of topics, often submitted by fellow users of the subreddit</li>
    <li><a href="http://www.codingame.com/home/platinum-rift">Platinum Rift</a> - An online game.</li>
    <li><a href="http://programmingpraxis.com/">Programming Praxis</a> - A blog with new exercises posted every few days
        on a range of topics. Many of them are presented as a word problem.
    <li><a href="http://vincent-knight.com">Vince's website</a> - A link to the Computing for Mathematics homepage.</li>
</ul>

<p>
    Here is a video that shows the various contributors so far (as of 4th of December 2014):
</p>

<div class="video">
    <figure>
        <iframe width="560" height="315" align='middle' src="//www.youtube.com/embed/UdbXWZJSwnE" frameborder="0" allowfullscreen></iframe>
    </figure>
</div>

<h3>Contributors</h3>

<ul>
    {% for contributor in site.data.contributors%}
<li class="contributor"><b>{{contributor.name}}</b> <i>(<a href="{{contributor.github-page}}">{{contributor.title}}</a>)</i></li>
    {% endfor %}
</ul>
<center>
    <i>Disclamer: This is NOT done in any particular order. It's definitly NOT in ALPHABETICAL order.</i>
</center>
