---
layout: page
title: Cardiff School of Mathematics Code Club
---

<p class="quote"><i>Three Functions for the Windows under the sky,<br>
Seven for the Linux in their halls of stone,<br>
Nine for Apple doomed to die,<br>
One for the Dark Lord on his dark kernel<br>
In the Land of Arch where the Json lie.<br>
One Function to rule them all, One Function to find them,<br>
One Function to bring them all and in the darkness bind them<br>
In the Land of Arch where the Json lie.</i></p>

<p>Code Club is a place where like minded people who are passionate about programming can get together
and hang out, talk about coding in general and work on any projects that they have
in mind, whether it be solo or part of a team. Code Club is the ideal place to
improve your skills as a programmer while enjoying the pleasant company of others who share your interests.
</p>

<p>
Can't wait to come along? Well we meet in M/0.33, 16:00 - 18:00 on a Thursday, in the School of Mathematics building. <br/>
Do you think it sounds like a great idea, but are looking for an excuse to turn up? Then be sure to check out our
<a href="{{site.baseurl}}/reference.html">Inspiration</a> page.
</p>

<p><i><b>Disclaimer:</b> This website was made by programmers for programmers - please forgive any spelling mistakes!</i></p>

<h3>Blog Posts</h3>

<p>
  Here you can find some of the more recent blog posts - be sure to check the
  <a href="{{site.baseurl}}/blog/">archive</a> for more!
</p>

<ul class="posts">
  {% for post in site.posts limit:7 %}
      {% include post_link.html %}
  {% endfor %}
</ul>
</p> 
