---
layout: page
title: Inspiration
categories: inspiration
---

<p> There is so much you can do during your time at Code Club anything
    from learning a new programming languages such as <a href="languages/java.html">Java</a>
    or <a href="languages/haskell.html">Haskell</a> to useful tools such
    as <a href="tools/git.html">Git</a> for version control or <a href="tools/vim.html">Vim</a>
    for text editing to hacking away in <a href="http://pi.minecraft.net/?page_id=14">Minecraft</a>
    for the Raspberry Pi! You are only limited by your imagination!
</p>

<h3>Programming Languages</h3>
<p>
    There are more programming languages than stars in the galaxy... OK
    <i>slight</i> exaggeration but there are a lot of them. Created for any
    possible purpose imaginable from building video games to driving rovers on Mars or
    simply trying to <a href="languages/brainfk.html">confuse</a> the programmer using them!
</p>
<p> Some of the more popular languages include <a href="languages/java.html">Java</a>,
    <a href="languages/python.html">Python</a> and <a href="languages/C++.html">C++</a>.
    However there are many more than that! Below are just a sample of them.
</p>
<ul class="double">
    {% for pages in site.pages %}
        {% if pages.categories contains 'languages' %}
            <li class="double"><a href="{{ site.baseurl }}{{ pages.url }}">{{ pages.title }}</a>
        {% endif %}
    {% endfor %}
</ul>

<h3>Programming Challenges</h3>
<p>
    Many places on the interest provide enthusiastic programmers with exercises and challenges
    to flex their coding muscles. Below are links to a few of them:
</p>
<ul>
    <li><a href="https://projecteuler.net">Project Euler</a> - A site with over 450 problems many with a
        mathematical focus to get your teeth into!</li>
    <li><a href="http://www.reddit.com/r/dailyprogrammer/">Daily Programmer</a> - A subreddit with new problems
        released on a Monday, Wednesday and Friday increasing in difficulty throughout the week. Challenges are based
        on a wide variety of topics, often submitted by fellow users of the subreddit</li>
    <li><a href="http://www.codingame.com/home/platinum-rift">Platinum Rift</a> - An online game.</li>
    <li><a href="http://programmingpraxis.com/">Programming Praxis</a> - A blog with new exercises posted every few days
        on a range of topics. Many of them are presented as a word problem.
    <li><a href="http://vincent-knight.com">Vince's website</a> - A link to the Computing for Mathematics homepage.</li>
</ul>

<h3>Stay Tuned</h3>

<p>Watch this space, more coming soon...</p>

