---
layout: page
title: Reference
categories: inspiration
---

<p>
  Welcome to the reference section of the code club site. Here you will find information on a wide range of
  programming languages, frameworks and tools to help you find something which interests you and how to get
  started!
</p>

<p>
  This section of the site is under constant development and if you find that we are missing something than we
  strongly recommend that you <a href="{{site.baseurl}}/getinvolved.html">get involved</a> and send us a
  pull request containing the missing information.
</p>

<h3>Programming Languages</h3>
<p>
    There are more programming languages than stars in the galaxy... OK
    <i>slight</i> exaggeration but there are a lot of them. Created for any
    possible purpose imaginable from building video games to driving rovers on Mars or
    simply trying to <a href="{{site.baseurl}}/languages/brainfk.html">confuse</a> the programmer using them!
</p>
<p> Some of the more popular languages include <a href="{{site.baseurl}}/languages/java.html">Java</a>,
    <a href="{{site.baseurl}}/languages/python.html">Python</a> and <a href="{{site.baseurl}}/languages/C++.html">C++</a>.
    However there are many more than that! Below are just a sample of them.
</p>
<div class="two-cols">
    <ul>
        {% for pages in site.pages %}
            {% if pages.categories contains "languages" %}
	        {% unless page.categories contains "forfun" %}
                    <li><a href="{{ site.baseurl }}{{ pages.url }}">{{ pages.title }}</a>
	        {% endunless %}
            {% endif %}
        {% endfor %}
    </ul>
</div>

<h3>Editors</h3>
<p>There are many editors you can use below is just a sample.</p>
<div class="two-cols">
    <ul>
        {% for pages in site.pages %}
            {% if pages.categories contains 'editors' %}
                <li><a href="{{ site.baseurl }}{{ pages.url }}">{{ pages.title }}</a>
            {% endif %}
        {% endfor %}
    </ul>
</div>

<h3>Programming Challenges</h3>
<p>
    Many places on the interest provide enthusiastic programmers with exercises and challenges
    to flex their coding muscles. Below are links to a few of them:
</p>
<ul>
    <li><a href="https://projecteuler.net">Project Euler</a> - A site with over 450 problems many with a
        mathematical focus to get your teeth into!</li>
    <li><a href="http://www.reddit.com/r/dailyprogrammer/">Daily Programmer</a> - A subreddit with new problems
        released on a Monday, Wednesday and Friday increasing in difficulty throughout the week. Challenges are based
        on a wide variety of topics, often submitted by fellow users of the subreddit</li>
    <li><a href="http://www.codingame.com/home/platinum-rift">Platinum Rift</a> - An online game.</li>
    <li><a href="http://programmingpraxis.com/">Programming Praxis</a> - A blog with new exercises posted every few days
        on a range of topics. Many of them are presented as a word problem.
    <li><a href="http://vincent-knight.com">Vince's website</a> - A link to the Computing for Mathematics homepage.</li>
</ul>

<h3>Stay Tuned</h3>

<p>Watch this space, more coming soon...</p>
