---
layout: page
title: Past Sessions
script: /js/sessions.js
pageid: sessions
---

{% for year in site.data.sessions %}

{% assign this-year = year.yname %}

<div class="session-year {{this-year}}">

    <h4 class="{{this-year}}">{{this-year}}</h4>

    {% for term in year.terms %}

    {% assign this-term = term[0] %}

    <div class="session-term {{this-term}} {{this-year}}">

        <h5 class="{{this-term}} {{this-year}}">{{this-term | capitalize}}</h5>

        <ul>
        {% for session in term[1] %}

            {% assign person = site.data.contributors[session.author] %}
            <div class="session">
                <li>{% include session_info.html session=session
                       week=forloop.index author=person %}</li>
            </div>

        {% endfor %}

        </ul>
    </div>            
{% endfor %}
</div>
{% endfor %}
