<head>
    <title>{% if page.title %}{{ page.title}}{% else %}{{site.title}}{% end if %}</title>

    <!-- jQuery JavaScript -->
    <script src="js/jquery-2.1.1.js"></script>
    <!-- bootstrap JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- bootstrap theme -->
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">

    <link rel="stylesheet" href="styles/Custom_formating.css"/>

</head>
