    <div class="container">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand active" href="{{ site.baseurl }}/index.html">Home</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li {% if page.categories contains 'sessions' %}class="active"{% endif %}><a href="{{ site.baseurl }}/sessions.html">Past Sessions</a></li>
                        <li class="dropdown{% if page.categories contains 'inspiration' %} active{% endif%}">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Inspiration<span class="caret"></span></a>
                            <ul class="dropdown-menu multi-level" role="menu">
                            <li {% if page.title == 'Inspiration' %}class="active"{% endif %}><a href="{{ site.baseurl }}/inspiration.html">Inspiration</a></li>
                                <li class="dropdown-submenu{% if page.categories contains 'languages' %} active{% endif%}">
                                    <a tabindex="-1" href="#">Languages</a>
                                    <ul class="dropdown-menu">
                                        <li {% if page.title == 'C++' %}class="active"{% endif %}> <a href="{{ site.baseurl }}/languages/C++.html"> C++ </a> </li>
                                        <li {% if page.title == 'C' %}class="active"{% endif %}> <a href="{{ site.baseurl }}/languages/C.html"> C </a> </li>
                                        <li {% if page.title == 'Brainf**k' %}class="active"{% endif %}> <a href="{{ site.baseurl }}/languages/brainfk.html"> Brainf**k </a> </li>
                                        <li {% if page.title == 'Haskell' %}class="active"{% endif %}> <a href="{{ site.baseurl }}/languages/haskell.html"> Haskell </a> </li>
                                        <li {% if page.title == 'Java' %}class="active"{% endif %}> <a href="{{ site.baseurl }}/languages/java.html"> Java </a> </li>
                                        <li {% if page.title == 'Python' %}class="active"{% endif %}> <a href="{{ site.baseurl }}/languages/python.html"> Python </a> </li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Editors</a>
                                    <ul class='dropdown-menu'>
                                        <li> <a href="{{ site.baseurl }}/editors/vim.html">Vim</a> </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
