<div class="sidetab">
    <img src="/res/twitter_logo.png" alt="Twitter Logo" class="twitlogo white"/>
    <img src="/res/twitter_logo_blue.png" alt="Twitter Logo" class="twitlogo blue"/>
</div>

<div class="tweets">
    <div class="feed light">
        <span class="dark">
            <a class="twitter-timeline"  href="https://twitter.com/cardiffmathcode" data-widget-id="730463167378276353">Tweets by @cardiffmathcode</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </span>
        <span class="light">
            <a class="twitter-timeline"  href="https://twitter.com/cardiffmathcode" data-widget-id="729091854722056194">Tweets by @cardiffmathcode</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </span>
    </div>
</div>


          
          
