<div class="sidetab">
    <img src="/res/twitter_logo.png" alt="Twitter Logo" class="twitlogo white"/>
    <img src="/res/twitter_logo_blue.png" alt="Twitter Logo" class="twitlogo blue"/>
</div>

<div class="tweets">
    <div class="feed">
        <span class="dark">
            <a class="twitter-timeline"  href="https://twitter.com/cardiffmathcode" data-widget-id="731165055417516032">Tweets by @cardiffmathcode</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>       
        </span>
        <span class="light">
            <a class="twitter-timeline"  href="https://twitter.com/cardiffmathcode" data-widget-id="731164663996661764">Tweets by @cardiffmathcode</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </span>
    </div>
</div>

          
          
          
