/* Base */
/* ----------------------------------------------------------*/

* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  font-family: $font;
  font-size: $base-font-size;
  color: $text-color;
  line-height: 1.5;
  font-weight: 300;
  background-image: $background-url;
  background-attachment: fixed;
}

h1, h2, h3, h4, h5 { font-size: 200%; font-weight: 400; }


a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    color: $link-color;
    text-decoration: underline;
  }

  &:visited {
    color: darken($link-color, 15%);
  }
}

/* Utility */

.wrap {
  max-width: $content-width;
  padding: 0 30px;
  margin: 0 auto;
  zoom: 1;

  &:after {
    clear: both;
  }

  &:before,
  &:after {
    content: "";
    display: table;
  }
}

@include if-device($mobile) {
  .wrap { padding: 0 12px; }
}

.two-cols {
  //@inlcude column-count(2);
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
}

.pagination {

  margin-top: 30px;

  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;

    .prev,
    .next {
      text-align: center;
     }
}
