.meta,
.post-date {
    color: #999999;
    font-style: italic;
    padding-bottom: 5px;
}

div#disqus_thread {
    margin-left: 5px;
    margin-right: 5px;
    @include border-radius($corner-radius);
    @include box-style($middle-bg);
}