/*  Global Stlyes */ 
* {
    font-family: $fonts;

    h1 {
        font-size: $title-font-size;
    }

    h2 {
        font-size: $title-font-size * 0.9;
    }

    h3 {
        font-size: $title-font-size * 0.8;
    }

    h4 {
        font-size: $title-font-size * 0.75;
    }

    h5 {
        font-size: $title-font-size * 0.7;
    }

    h6 {
        font-size: $title-font-size * 0.6;
    }
}

body {
    background-color: $bg-d;
    color: $text-color;

    h1, h2, h3, h4, h5, h6 {
        color: darken($cardiff-red, 15%);
    }

    a {
        color: $cardiff-red;
        text-decoration: none;

        &:hover {
            color: lighten($cardiff-red, 10%);
            font-style: italic;
        }

        &:visited {
            color: darken($cardiff-red, 10%);

            &:hover {
                color: lighten($cardiff-red, 5%);
                font-style: italic;
            }
        }

    }
}

.page-content {
    padding-bottom: 50px;
}


/* Menu */
header.site-header {

    background-color: $middle-bg;
    border-bottom: $menu-border-style;
    @include box-shadow($shadow-style);

    .menu-item,
    .menu-name {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 5px;
        list-style: none;
        border-left: $menu-border-style; 

        a {
            color: $text-color;

            &:hover {
                color: lighten($cardiff-red, 5%);
            }

            &:visited {
                color: $text-color;

                &:hover {
                    color: lighten($cardiff-red, 5%);
                }
            }
        }

    }
}

/* Twitter Feed */
.sidetab {
    background-color: lighten($middle-bg, 10%);
    border: $border-style;
    padding: 10px;
    z-index: 20;
    @include box-shadow($shadow-style);
    @include border-top-right-radius(5px);
    @include border-top-left-radius(5px);

}

.tweets {
    border: $border-style;
    @include box-shadow($shadow-style);
    @include border-top-left-radius(3px);
}

/* Page Content */
.post-header {
    margin-bottom: 0;
    padding: 20px;
    border: $border-style;
    position: relative;
    z-index: 1;
    text-shadow: $text-shadow-style;
    @include border-top-left-radius($corner-radius);
    @include border-top-right-radius($corner-radius);
    @include border-bottom-left-radius(2px);
    @include border-bottom-right-radius(2px);
    @include box-style(lighten($middle-bg, 10%));
}

.post-content {
   
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: $border-style;
    
    @include box-style($middle-bg);
    @include border-bottom-left-radius($corner-radius);
    @include border-bottom-right-radius($corner-radius);
   

    h1,h2 {
        padding: 20px;
        border-top: $border-style;
        border-bottom: $border-style;
        border-left: solid 5px darken($cardiff-red, 10%);
        z-index: 1;
        background-color: darken($middle-bg, 10%);
        text-shadow: $text-shadow-style;
    }

    h3, h4, h5, h6 {
        padding-left: 10px;
    }

    p {
        padding-left: 15px;
    }

    pre {
        margin-left: 15px;
        margin-right: 15px;
        padding: 10px;
        overflow-y: hidden;
        @include border-radius($corner-radius);
        @include box-shadow($code-shadow-style);
        border: $code-border-style;
    }
}

code {
    font-family: $code-font;
}

.meta,
.post-date {
    color: #000;
    font-style: italic;
    padding-bottom: 5px;
}

/* Blog */ 
div#disqus_thread {
    padding: 20px;
    margin-left: 5px;
    margin-right: 5px;
    border: $border-style;
    @include border-radius($corner-radius);
    @include box-style($middle-bg);
}

div.blog-cats {

    padding: 0;
    margin-left: 5px;

    h5 {
        padding: 15px;
        background-color: lighten($middle-bg, 10%);
        position: relative;
        z-index: 1;
        text-shadow: $text-shadow-style;
        border: $border-style;
        @include box-shadow($shadow-style);
        @include border-top-left-radius($corner-radius);
        @include border-top-right-radius($corner-radius);
    }
    
    ul {
        padding-top: 5px;
        padding-bottom: 5px;
        margin-left: 5px;
        margin-right: 5px;
        border: $border-style;
        @include box-style($middle-bg);
        @include border-bottom-left-radius($corner-radius);
        @include border-bottom-right-radius($corner-radius);
    }

    ul > li {
        padding-top: 5px;
        padding-left: 5px;
        list-style: none;
    }
    
}

div.prev,
div.next {
    @include box-style($middle-bg);
    @include border-radius($corner-radius);
    border: $border-style;

    &:hover {
        @include box-shadow(none);
    }
}

/* Site Footer */
footer {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: $middle-bg;
    border-top: $menu-border-style;
    text-shadow: $text-shadow-style;
}
