div.blog-cats {

    padding: 0;

    h5 {
        padding: 15px;
        background-color: lighten($middle-bg, 10%);
        position: relative;
        z-index: 1;
        text-shadow: $text-shadow-style;
        @include box-shadow($shadow-style);
        @include border-top-left-radius($corner-radius);
        @include border-top-right-radius($corner-radius);
    }
    
    ul {
        padding-top: 5px;
        padding-bottom: 5px;
        margin-left: 5px;
        margin-right: 5px;
        @include box-style($middle-bg);
        @include border-bottom-left-radius($corner-radius);
        @include border-bottom-right-radius($corner-radius);
    }

    ul > li {
        padding-top: 5px;
        padding-left: 5px;
        list-style: none;
    }
    
}

div.prev,
div.next {
    @include box-style($middle-bg);
    @include border-radius($corner-radius);

    &:hover {
        @include box-shadow(inset 5px 5px 3px $black);
    }
}