/* Base Layout Styles */

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

/* Utility */

.wrap {
  max-width: $content-width;
  padding: 0 30px;
  margin: 0 auto;
  zoom: 1;

  &:after {
    clear: both;
  }

  &:before,
  &:after {
    content: "";
    display: table;
  }
}

@include if-device($mobile) {
  .wrap { padding: 0 12px; }
}

.two-cols {
  //@inlcude column-count(2);
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
}

.pagination {

  margin-top: 30px;

  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;

    .prev,
    .next {
      text-align: center;
     }
}

/* ----------------------------------------------------------*/

/* Site header */

.site-header {
  main-height: 56px;
  width: 100%;
  position:fixed;
  z-index: 999;
}

.site-title {
  &:hover,
  &:visited {
    display: block;
    float: left;
    line-height: 56px;
    position: relative;
    z-index: 1;
  }
}

.site-nav {
  float: right;
  line-height: 56px;


  .menu-icon {
    display: none;
  }

  .page-link {
    margin-left: 20px;
  }
}

/* media queries */
/* ----------------------------------------------------------*/

@media screen and (max-width: 750px) {

  .footer-col-1 { width: 50%; }

  .footer-col-2 {
    width: 45%; /*fallback*/
    width: -webkit-calc(50% - 10px);
    width: -moz-calc(50% - 10px);
    width: -o-calc(50% - 10px);
    width: calc(50% - 10px);
    margin-right: 0;
  }

  .site-footer .column.footer-col-3 {
    width: auto;
    float: none;
    clear: both;
  }


  .site-header {
    position:absolute;
  }
}

@media screen and (max-width: 600px) {

  .site-nav {
    position: fixed;
    z-index: 10;
    top: 14px; right: 8px;
    background-color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #e8e8e8;
  }

  .site-nav .menu-icon {
    display: block;
    font-size: 24px;
    color: #505050;
    float: right;
    width: 36px;
    text-align: center;
    line-height: 36px;
  }

  .site-nav .menu-icon svg { width: 18px; height: 16px; }

  .site-nav .trigger {
    clear: both;
    margin-bottom: 5px;
    display: none;
  }

  .site-nav:hover .trigger { display: block; }

  .site-nav .page-link {
    display: block;
    text-align: right;
    line-height: 1.25;
    padding: 5px 10px;
    margin: 0;
  }

  .post-header h1 { font-size: 36px; }
  .post-content h2 { font-size: 28px; }
  .post-content h3 { font-size: 22px; }
  .post-content h4 { font-size: 18px; }
  .post-content blockquote { padding-left: 10px; }
  .post-content ul,
  .post-content ol { padding-left: 10px; }

  .site-footer .column {
    float: none;
    clear: both;
    width: auto;
    margin: 0 0 15px; }
}

/* Page Content */

.page-content {
  padding: 75px 0;
}

/* Site footer */

.site-footer {
  padding: 30px 0;
}

.footer-heading {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: -.5px;
  margin-bottom: 15px;
}

.site-footer .column { float: left; margin-bottom: 15px; }

.footer-col-1 {
  width: 270px; /*fallback*/
  width: -webkit-calc(35% - 10px);
  width: -moz-calc(35% - 10px);
  width: -o-calc(35% - 10px);
  width: calc(35% - 10px);
  margin-right: 10px
}
.footer-col-2 {
  width: 175px; /*fallback*/
  width: -webkit-calc(23.125% - 10px);
  width: -moz-calc(23.125% - 10px);
  width: -o-calc(23.125% - 10px);
  width: calc(23.125% - 10px);
  margin-right: 10px
}
.footer-col-3 {
  width: 335px; /*fallback*/
  width: -webkit-calc(41.875%);
  width: -moz-calc(41.875%);
  width: -o-calc(41.875%);
  width: calc(41.875%);
}

.site-footer ul { list-style: none; }

.site-footer li,
.site-footer p {
  font-size: 15px;
  letter-spacing: -.3px;
  color: #828282;
}

.github-icon-svg,
.twitter-icon-svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  position: relative;
  top: 3px;
}
