/* Blog Post Category Layout */

.blog-cats {
  float: left;
  margin-top : 75px;
  padding: 5px;
}

@include if-device($wide-desktop) {
    .cat-wrapper {
        padding: 75px;
        padding-bottom: 0px;
    }

    .blog-cats {
	max-width: 790px;
	margin: auto;
	float: none;
        position: relative;
    }
}
