/* Media Layouts */

img {
  border: 0;
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.video figure {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.video iframe,
.video object,
.video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
