---
layout: base
---
<!-- Category Menu -->
    <div class="cat-wrapper">
        <div class="blog-cats">

            <h5>Posts by Category</h5>

            <ul>
                <li><a href="/blog/index.html">All Posts</a> ({{site.posts.size}})</li>
            {% assign catlist = site.categories | sort %}
            {% for cat in catlist %}
                <li><a href="/blog/{{cat | first}}.html">{{cat | first | capitalize}}</a> ({{cat[1] | size}})</li>
            {% endfor %}
            </ul>
        </div>
    </div>

<!-- Main Content -->
    <div class="page-content">
     <div class="wrap">
      <div class="post">

           <header class="post-header">
               {% if page.title %}
		             <h1>{{ page.title }}</h1>
               {% endif %}

               {% if page.category %}
                 <h1>{{ page.category | capitalize }}</h1>
               {% endif %}
           </header>

	         <article class="post-content">
               <ul class="posts">
                   {% if page.title %}
                     {% for post in paginator.posts %}
                        <li>{% include post_link.html post=post %}</li>
                     {% endfor %}
                   {% endif %}

                   {% if page.category %}
                     {% for post in site.categories[page.category] %}
                        <li>{% include post_link.html post=post %}</li>
                     {% endfor %}
                   {% endif %}
               </ul>
	         </article>
      </div>

      {% if page.title %}
        <div class="pagination">
            <div class="buttons">
                <div class="prev">
                    {% if paginator.previous_page %}
                        <a href="{{paginator.previous_page_path}}">
                            <h4>Previous</h4>
                        </a>
                    {% else %}
                            <h4>Previous</h4>
                    {% endif %}
                </div>

                <div class="next">
                    {% if paginator.next_page %}
                        <a href="{{paginator.next_page_path}}">
                            <h4>Next</h4>
                        </a>
                    {% else %}
                            <h4>Next</h4>
                    {% endif %}
                </div>
            </div>
        </div>
      {% endif %}

     </div>
    </div>

