<!DOCTYPE html>
<html>

  {% include common_head.html %}
<body id="blog">

    {% include header.html %}
    {% include catmenu.html %}

    <div class="page-content">
     <div class="wrap">
      <div class="post">
       <div class="main">

           <header class="post-header">
               {% if page.title %}
		             <h1>{{ page.title }}</h1>
               {% endif %}

               {% if page.category %}
                 <h1>{{ page.category | capitalize }}</h1>
               {% endif %}
           </header>

	         <article class="post-content">
               <ul class="posts">
                   {% if page.title %}
                     {% for post in paginator.posts %}
                        {% include post_link.html %}
                     {% endfor %}
                   {% endif %}

                   {% if page.category %}
                     {% for post in site.categories[page.category] %}
                        {% include post_link.html %}
                     {% endfor %}
                   {% endif %}
               </ul>
	         </article>
	     </div>
      </div>

      {% if page.title %}
        {% include pagination_nav.html %}
      {% endif %}

     </div>
    </div>
    {% include footer.html %}
</body>
</html>
