<!DOCTYPE html>
<html>
<head>
  {% include common_head.html %}
</head>
    <body>

    {% include header.html %}
    {% include catmenu.html %}

    <div class="page-content">
      <div class="wrap">
	<div class="post">
	    <div class="main">

	    <header class="post-header">
		<h1>Category: {{ page.category | capitalize}}</h1>
	    </header>

	    <article class="post-content">
	    <ul class="posts">
		{% for post in site.categories[page.category] %}
		    {% include post_link.html %}
		{% endfor %}
	    </ul>
	    </article>
	    </div>

	</div>
      </div>
    </div>

    {% include footer.html %}

    </body>
</html>
