<!DOCTYPE html>
<html>
<head>
  {% include common_head.html %}

  {% if page.layout == 'post' %}
    {% include twitter_card_post.html %}
  {% endif %}

  {% for script in page.script %}
    <script src="{{script}}" type="text/javascript"></script>    
  {% endfor %}
</head>
    <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrap">
      {{ content }}
      </div>
    </div>


    {% include twitter_feed.html %}

    {% include footer.html %}

    </body>
</html>
