<!DOCTYPE html>
<html>
<head>
  {% include common_head.html %}
  <script src="/js/sessions.js" type="text/javascript"></script>
</head>
<body id="sessions">
    {% include header.html %}

    <div class="page-content">
      <div class="wrap">
	<div class="post">
	    <div class="main">

	    <header class="post-header">
		<h1>Past Sessions</h1>
	    </header>

	    <article class="post-content">
	    {{ content }}
	    </article>

	    </div>
	</div>
      </div>
    </div>

    {% include footer.html %}
</body>
</html>
