body{
    background-image: url(/res/Background-\ negative.png);
    background-color: #14041C;
}

h1{
    color: #FF0000;
}

div.session i{
    color: #0066FF;
}

div.session b{
    color: #444444;
}

div.session {
    color: red;
}
